header ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.nav {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 10px;
}

.nav__item:hover:after {
    content: '>';
    font-size: 10px;
    color:#52C5F1;
    margin-left: 20px;
    transform: rotate(90deg);
}

.nav__item {
    background: #F7F7F7;
    padding: 0 5px;
    margin-left: 5px;
    width: 120px;
    position: relative;
}

.nav__item:hover {
    color: #52C5F1;
}

.nav__item--no-space {
    margin-left: 0;
}

.nav__item:hover .nav__dropdown {
    visibility: visible;
}

.nav__dropdown {
    position: absolute;
    left: 0;
    visibility: hidden;
}

.dropdown__item {
    background: #333333;
    color: #DDDDC7;
    border-bottom: 3px solid rgb(220, 220, 200);
    padding: 5px 20px;
    min-width: 120px;
}


.dropdown__item:hover:after {
    content: '>';
    font-size: 10px;
    color:#DDDDC7;
    margin-left: 20px;
    rotate: 90deg;
}

.nav__dropdown:hover .nav__dropdown-sub {
    visibility: visible;
}

.nav__dropdown-sub {
    position: absolute;
    left: 120px;
    visibility: hidden;
}

.dropdown__item-sub {
    background: #333333;
    color: #DDDDC7;
    border-bottom: 3px solid rgb(220, 220, 200);
    padding: 5px 20px;
    min-width: 120px;
}